*{
  margin:0;
  padding:0;
}
.imgs{
  width: 100px;
  height: 100px;
  background-image: url(../img/img02.jpg);
  border-radius: 10px;
  display: flex;

}
::placeholder {
  color: gray;
}
.test{
  color:blue;
}