<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="inp">
    <input type="text" v-model.lazy="inp">
    <input type="text" v-model.number="inp">
    <input type="text" v-model.trim="inp">
    <p>{{inp}}</p>
    <input type="checkbox"  value="篮球" v-model="hobbys">篮球
    <input type="checkbox" value="足球" v-model="hobbys">足球
    <input type="checkbox"  value="乒乓球" v-model="hobbys">乒乓球
    <p>{{hobbys}}</p>
    <input type="radio" name="sexa" value="男" v-model="sex">男
    <input type="radio" name="sexa" value="女" v-model="sex">女
    <p>{{sex}}</p>
    <select name="" id="" v-model="sel">
      <option value="a">a</option>
      <option value="b">b</option>
      <option value="c">c</option>
      <option value="d">d</option>
    </select>
    <p>{{sel}}</p>
  </div>
  <script src="vue.js"></script>
  <script>
    new Vue({
      el:"#app",
      data:{
       inp:"0",
       hobbys:[],
       sex:"男",
       sel:"null"
      }
    })
  </script>
</body>
</html>